/* packages */
.gallery{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.goback{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

.a-icon {
    font-size: 2rem;
    text-decoration: none !important;
    border-bottom: none;
}