.gallery{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro {
    width: 50%;
}
